spring:
  application:
    name: thekingmoss-be
  datasource:
    url: url: jdbc:mysql://localhost:3306/your-database
    username: your-username 
    password: your-password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8080
